In [48]:
import torch 
import matplotlib.pyplot as plt
import numpy as np
import json
import pandas as pd

In [ ]:
# %%bash 
# cd ../_data/
# rm -rf *
# wget https://storage.googleapis.com/public-datasets-lila/caltechcameratraps/eccv_18_all_images_sm.tar.gz
# tar -xvzf eccv_18_all_images_sm.tar.gz 
# wget https://storage.googleapis.com/public-datasets-lila/caltechcameratraps/eccv_18_annotations.tar.gz 
# tar -xvzf eccv_18_annotations.tar.gz
# ls
# cd eccv_18_annotation_files
# cp * ../eccv_18_all_images_sm/
# pwd
# wget https://storage.googleapis.com/public-datasets-lila/caltechcameratraps/labels/caltech_camera_traps.json.zip
# unzip caltech_camera_traps.json.zip
# rm -rf ../_data/*.zip

In [31]:
pre = '../_data/eccv_18_annotation_files/'
ct = pre + 'cis_test_annotations.json'
cv = pre + 'cis_val_annotations.json'
tv = pre + 'trans_val_annotations.json'
tt = pre + 'trans_test_annotations.json'
t = pre  + 'train_annotations.json'

In [32]:
ct

'../_data/eccv_18_annotation_files/cis_test_annotations.json'

In [ ]:
!cat ../_data/eccv_18_annotation_files/cis_test_annotations.json

In [126]:
f = open(tv, 'r')
data = json.load(f)
data.keys(), data['info'], data['categories']

(dict_keys(['info', 'categories', 'images', 'annotations']),
 {'contributor': 'Sara Beery',
  'date_created': '2018-07-03 18:34:36.573636',
  'version': 'Caltech Camera Traps - ECCV18',
  'description': 'Database of camera trap images collected from the NPS and the USGS with help from Justin Brown and Erin Boydston',
  'year': 2018},
 [{'id': 6, 'name': 'bobcat'},
  {'id': 1, 'name': 'opossum'},
  {'id': 30, 'name': 'empty'},
  {'id': 9, 'name': 'coyote'},
  {'id': 3, 'name': 'raccoon'},
  {'id': 11, 'name': 'bird'},
  {'id': 8, 'name': 'dog'},
  {'id': 16, 'name': 'cat'},
  {'id': 5, 'name': 'squirrel'},
  {'id': 10, 'name': 'rabbit'},
  {'id': 7, 'name': 'skunk'},
  {'id': 99, 'name': 'rodent'},
  {'id': 21, 'name': 'badger'},
  {'id': 34, 'name': 'deer'},
  {'id': 33, 'name': 'car'},
  {'id': 51, 'name': 'fox'}])

# Train

In [550]:
f = open(t, 'r')
data = json.load(f)

In [551]:
print(len(data['images']))
print(len(data['annotations']))

13553
14071

In [552]:
df_images = pd.DataFrame.from_dict(data['images'])
for col in ['location', 'rights_holder', 'frame_num', 'seq_num_frames', 'height', 'width']:
    print(df_images[col].value_counts())

location
38     4047
88     1655
115    1497
120    1370
33     1238
43     1215
61      993
90      586
108     538
51      414
Name: count, dtype: int64
rights_holder
Justin Brown     12183
Erin Boydston     1370
Name: count, dtype: int64
frame_num
1    5473
2    4060
3    4020
Name: count, dtype: int64
seq_num_frames
3    12183
1     1370
Name: count, dtype: int64
height
1494    12183
1536     1054
1920      316
Name: count, dtype: int64
width
2048    13237
2560      316
Name: count, dtype: int64

In [131]:
df_anno = pd.DataFrame.from_dict(data['annotations'])
print(df_anno.category_id.value_counts(dropna=False),  '\n' , "count", len(df_anno.category_id.value_counts(dropna=False)))

category_id
6     858
1     444
3     143
8      96
16     72
10     70
7      63
30     61
9      51
11      7
Name: count, dtype: int64
 count 10

# Cis Val

In [554]:
f = open(cv, 'r')
data = json.load(f)

In [555]:
print(len(data['images']))
print(len(data['annotations']))

3484
3582

In [556]:
df_images = pd.DataFrame.from_dict(data['images'])
for col in ['location', 'rights_holder', 'frame_num', 'seq_num_frames', 'height', 'width']:
    print(df_images[col].value_counts())

location
38     799
43     520
115    491
33     473
88     352
61     277
108    180
51     165
90     131
120     96
Name: count, dtype: int64
rights_holder
Justin Brown     3388
Erin Boydston      96
Name: count, dtype: int64
frame_num
1    1200
3    1161
2    1123
Name: count, dtype: int64
seq_num_frames
3    3388
1      96
Name: count, dtype: int64
height
1494    3388
1536      56
1920      40
Name: count, dtype: int64
width
2048    3444
2560      40
Name: count, dtype: int64

In [557]:
df_anno = pd.DataFrame.from_dict(data['annotations'])
print(df_anno.category_id.value_counts(dropna=False),  '\n' , "count", len(df_anno.category_id.value_counts(dropna=False)))

category_id
30    995
10    518
1     496
9     306
5     224
16    192
3     174
6     154
8     148
11    144
99    143
7      43
33     41
34      3
21      1
Name: count, dtype: int64
 count 15

# Cis Test

In [558]:
f = open(ct, 'r')
data = json.load(f)

In [559]:
print(len(data['images']))
print(len(data['annotations']))

15827
16395

In [561]:
df_images = pd.DataFrame.from_dict(data['images'])
for col in ['location', 'rights_holder', 'frame_num', 'seq_num_frames', 'height', 'width']:
    print(df_images[col].value_counts())

location
38     4927
43     2373
33     2286
120    1625
61     1104
88     1093
51      940
115     785
108     404
90      290
Name: count, dtype: int64
rights_holder
Justin Brown     14202
Erin Boydston     1625
Name: count, dtype: int64
frame_num
1    6375
3    4728
2    4724
Name: count, dtype: int64
seq_num_frames
3    14202
1     1625
Name: count, dtype: int64
height
1494    14202
1536     1203
1920      422
Name: count, dtype: int64
width
2048    15405
2560      422
Name: count, dtype: int64

In [562]:
df_anno = pd.DataFrame.from_dict(data['annotations'])
print(df_anno.category_id.value_counts(dropna=False))

category_id
1     4535
10    1807
16    1672
9     1372
30    1180
3     1103
6      909
8      895
11     865
33     791
5      666
99     236
7      194
34     164
21       4
51       2
Name: count, dtype: int64

# TT

In [563]:
f = open(tt, 'r')
data = json.load(f)

In [564]:
print(len(data['images']))
print(len(data['annotations']))

23275
24028

In [565]:
df_images = pd.DataFrame.from_dict(data['images'])
for col in ['location', 'rights_holder', 'frame_num', 'seq_num_frames', 'height', 'width']:
    print(df_images[col].value_counts())

location
46     6276
100    4890
78     2359
105    2169
0      1861
7      1853
130    1455
28     1333
40     1079
Name: count, dtype: int64
rights_holder
Justin Brown     21414
Erin Boydston     1861
Name: count, dtype: int64
frame_num
1    8878
3    6993
2    6970
4     217
5     217
Name: count, dtype: int64
seq_num_frames
3    20331
1     1861
5     1083
Name: count, dtype: int64
height
1494    21414
1536     1198
1920      663
Name: count, dtype: int64
width
2048    22612
2560      663
Name: count, dtype: int64

In [566]:
!exit

In [112]:
df_anno = pd.DataFrame.from_dict(data['annotations'])
print(df_anno.category_id.value_counts(dropna=False))

category_id
3     5719
1     5529
6     2375
9     2348
30    1778
16    1512
33    1113
8     1057
5     1052
10     871
7      333
11     262
99      62
21      16
51       1
Name: count, dtype: int64

# TV

In [153]:
f = open(tv, 'r')
data = json.load(f)

In [118]:
print(len(data['images']))
print(len(data['annotations']))

1725
1865

In [119]:
df_images = pd.DataFrame.from_dict(data['images'])
for col in ['location', 'rights_holder', 'frame_num', 'seq_num_frames']:
    print(df_images[col].value_counts())

location
125    1725
Name: count, dtype: int64
rights_holder
Justin Brown    1725
Name: count, dtype: int64
frame_num
1    581
2    573
3    571
Name: count, dtype: int64
seq_num_frames
3    1725
Name: count, dtype: int64

In [120]:
df_anno = pd.DataFrame.from_dict(data['annotations'])
print(df_anno.category_id.value_counts(dropna=False))

category_id
6     858
1     444
3     143
8      96
16     72
10     70
7      63
30     61
9      51
11      7
Name: count, dtype: int64

In [121]:
23 + 17.25 + 13.553, 15.8 + 3.5 + 13.553

(53.803, 32.853)

* The dataset contains 5 sets 
- t training  
- cv same validation 
- ct same test 
- tt different location than train and val
- tv differnt location than train and test

# Anno Original

In [155]:
f = open('../_data/' + 'caltech_images_20210113.json', 'r')
data = json.load(f)

In [156]:
data.keys()

dict_keys(['images', 'annotations', 'categories', 'info'])

In [157]:
data['categories']

[{'name': 'bobcat', 'id': 6},
 {'name': 'opossum', 'id': 1},
 {'name': 'empty', 'id': 30},
 {'name': 'coyote', 'id': 9},
 {'name': 'raccoon', 'id': 3},
 {'name': 'bird', 'id': 11},
 {'name': 'dog', 'id': 8},
 {'name': 'cat', 'id': 16},
 {'name': 'squirrel', 'id': 5},
 {'name': 'rabbit', 'id': 10},
 {'name': 'skunk', 'id': 7},
 {'name': 'lizard', 'id': 14},
 {'name': 'rodent', 'id': 99},
 {'name': 'badger', 'id': 21},
 {'name': 'deer', 'id': 34},
 {'name': 'cow', 'id': 37},
 {'name': 'car', 'id': 33},
 {'name': 'fox', 'id': 51},
 {'name': 'pig', 'id': 39},
 {'name': 'mountain_lion', 'id': 40},
 {'name': 'bat', 'id': 66},
 {'name': 'insect', 'id': 97}]

In [159]:
data['info']

{'year': 2018,
 'contributor': 'Sara Beery',
 'date_created': '2018-07-03 18:34:36.573636',
 'version': '20210113',
 'description': 'Caltech Camera Traps: Database of camera trap images collected from the NPS and the USGS with help from Justin Brown and Erin Boydston'}

In [158]:
print(len(data['images']))
print(len(data['annotations']))
print(len(data['categories']))

243100
245118
22

In [545]:
data['images'][0], data['annotations'][np.random.randint(1, 243000)]

({'seq_num_frames': 1,
  'date_captured': '2013-10-04 13:31:53',
  'seq_id': '6f2160eb-5567-11e8-990e-dca9047ef277',
  'height': 1494,
  'width': 2048,
  'location': '26',
  'rights_holder': 'Erin Boydston',
  'file_name': '5968c0f9-23d2-11e8-a6a3-ec086b02610b.jpg',
  'id': '5968c0f9-23d2-11e8-a6a3-ec086b02610b',
  'frame_num': 1},
 {'id': '2ba4259e-7d70-11e7-884d-7845c41c2c67',
  'category_id': 30,
  'image_id': '595def20-23d2-11e8-a6a3-ec086b02610b'})

In [548]:
df_images = pd.DataFrame.from_dict(data['images'])
for col in ['location', 'rights_holder', 'frame_num', 'seq_num_frames']:
    print(df_images[col].value_counts())

location
96     37766
26     28670
76     13979
114    13157
57     12805
       ...
15         9
47         8
119        8
139        4
113        1
Name: count, Length: 140, dtype: int64
rights_holder
Erin Boydston    147936
Justin Brown      95164
Name: count, dtype: int64
frame_num
1    179270
3     31255
2     31130
4       723
5       722
Name: count, dtype: int64
seq_num_frames
1    147938
3     91557
5      3605
Name: count, dtype: int64

In [549]:
df_anno = pd.DataFrame.from_dict(data['annotations'])
print(df_anno.category_id.value_counts(dropna=False),  '\n' , "count", len(df_anno.category_id.value_counts(dropna=False)))

category_id
30    125745
1      16698
9      16601
10     12519
34     12196
3      11390
11     10003
6       8098
16      5297
33      4717
8       4512
5       4450
99      4279
37      3626
51      2574
7       1898
14       309
40       145
21        50
97         6
66         3
39         2
Name: count, dtype: int64
 count 22